<div class="menu-head">Your apps</div>
<s-sortable class="apps-list" handle="[app-grip]" store="app-switcher">
  <a class="menu-item app-item" sort-item="jira" href="#"><span class="app-grip" app-grip><svg class="ic xs"><use href="#i-grip"/></svg></span><span class="app-mark app-jira">J</span> Jira</a>
  <a class="menu-item app-item" sort-item="confluence" href="#"><span class="app-grip" app-grip><svg class="ic xs"><use href="#i-grip"/></svg></span><span class="app-mark app-conf">C</span> Confluence</a>
  <a class="menu-item app-item" sort-item="bitbucket" href="#"><span class="app-grip" app-grip><svg class="ic xs"><use href="#i-grip"/></svg></span><span class="app-mark app-bit">B</span> Bitbucket</a>
  <a class="menu-item app-item" sort-item="trello" href="#"><span class="app-grip" app-grip><svg class="ic xs"><use href="#i-grip"/></svg></span><span class="app-mark app-trello">T</span> Trello</a>
  <s-init run="(el) => el.restore()"></s-init>
</s-sortable>
<div class="menu-sep"></div>
<a class="menu-item" href="#"><svg class="ic"><use href="#i-grid"/></svg> More Atlassian apps</a>

