<div class="notif-panel" notif-space>
<div class="notif-header">
<div class="menu-head">Notifications</div>
</div>
<div class="notif-summary"><b>0</b> unread</div>
<div class="notif-list" notif-list>
<div class="notif"><span class="notif-dot"></span><div class="avatar sm">AK</div><span class="notif-text"><b>Alex Kim</b> mentioned you on SCRUM-1</span></div>
<div class="notif"><span class="notif-dot"></span><div class="avatar sm">PS</div><span class="notif-text"><b>Priya Shah</b> assigned SCRUM-2 to you</span></div>
<div class="notif"><span class="notif-dot"></span><div class="avatar sm">SR</div><span class="notif-text">Your comment received a reply</span></div>
</div>
<s-init run="() => this.nall('notif-count', 0)"></s-init>
</div>
