<div class="sp-head">Recently viewed</div>
<a class="sp-item" href="#"><svg class="ic sp-i-task"><use href="#i-task"/></svg><span class="sp-title">SCRUM-1 Login page throws 500 on expired session token</span></a>
<div class="sp-head">Recent boards, projects, filters and plans</div>
<a class="sp-item" href="#"><span class="proj sp-proj">M</span><span class="sp-title">SCRUM board</span><span class="sp-meta">My Team</span></a>
<a class="sp-item" href="#"><span class="proj sp-proj">M</span><span class="sp-title">My Team (SCRUM)</span></a>
